
{
  "presets": ["es2015", "babel-preset-react"],
  "plugins": [
    "transform-object-rest-spread",
    "transform-es3-member-expression-literals",
    "transform-es3-property-literals"
  ],
  "highlightCode": true
}
